@import "scss/fonts"; // Fonts
@import "scss/colors"; // Colors sheet
@import "scss/sizes"; // Sizes
@import "../node_modules/jam-icons/css/jam.min.css"; // Icons

.app-container {
  background-image: linear-gradient($bg-gradient-1, $bg-gradient-2);
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app-title {
  color: $text-white;
  font-size: $text-size-title;
  margin-top: 50px;
  font-family: $open-sans;
  font-weight: 700;

  @media screen and (max-width: $break-small) {
    margin-left: 20px;
    margin-top: 20px;
  }
}

.app-searchbox {
  margin-top: 20px;

  @media screen and (max-width: $break-small) {
    max-width: 270px;
  }
}

.app-selectedcity {
  margin-top: 20px;
}

.app-separator {
  width: 500px;
  margin-top: 35px;
}

.app-capitalstables {
  margin-top: 15px;
}

.separator {
  height: 2px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;

  @media screen and (max-width: $break-small) {
    height: 1px;
  }
}

.search-error {
  color: $text-error;
  background-color: rgba(255, 255, 255, 0.8);
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 6px 6px;
  border-style: solid;
  border-color: grey;
  padding: 2px 35px 4px 35px;
}

.search-error-container {
  display: flex;
  justify-content: center;
}
