@import "../../scss/colors";
@import "../../scss/fonts";

.sensation-line {
  display: flex;
  margin-top: 20px;
  font-family: $open-sans;
  margin-left: 30px;
}

.sensation-icon {
  color: $icons-color;
  font-size: 25px;
  margin-right: -5px;
}

.sensation-item {
  font-weight: 300;
  margin-right: 20px;
  min-width: 100px;
  display: flex;
  align-items: center;
}

.sensation-result {
  font-weight: bold;
  color: $text-black;
  margin-left: 5px;
}
