@import "../../scss/colors";

.capitalstable-container {
  width: 400px;
}

.capitalstable-title {
  color: $text-white;
  font-size: 30px;
}

.capitalstable-tables {
  margin-top: 1px;
  display: flex;
  justify-content: space-between;
}

.temp-table {
  border-spacing: 5px 20px;
}

.temp-table thead {
}

.temp-table tr {
}
