$bg-gradient-1: #ff7f00;
$bg-gradient-2: #ffbb00;

$text-white: #ffffff;
$text-black: #505050;
$text-error: #cc0000;

$icons-color: #ff7f01;

// shadows
$box-light-shadow: 0px 0px 31px -10px rgba(0, 0, 0, 0.75);
